[run]
omit =
    */migrations/*
    */settings.py
    */urls.py
    manage.py
    */wsgi.py
    */asgi.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def __str__
    def __repr__
